h1 {
    color:black;
    font-family: sans-serif;
    
}
.header{
    background-color:lightgray;
    
    justify-content:space-evenly;
    font-family:monospace;
}

.grid{
    background-color:white;
    
    flex-wrap:inherit;

    justify-content:space-evenly;
    font-family: monospace;
}
h2{
    color: lightcoral;
    font-family: sans-serif;
    
}
h3{
    color: lightcoral;
    font-family: sans-serif;
   
}
h4{
    color: lightcoral;
    font-family: sans-serif;

}
h5{
    color: lightcoral;
    font-family: sans-serif
}
h6{
    color: lightcoral;
    font-family: sans-serif;
}
h4{
    color: lightcoral;
    font-family: sans-serif;
    
}
body{
    background-color: rgb(255, 255, 255);

}
img{
    border:groove;
    border-radius: 20px;
    border-color: black;
}
